<article id="art-somato" class='hidden'>
    <header>
        <h2>Somatopathie</h2>
    </header>
    <section>
        La somatopathie est une méthode manuelle et énergétique, inspirée des travaux de Maurice-Raymond Poyet.<br>
        <h3>La méthode Poyet</h3>
        Ostéopathe reconnu,  M. R. Poyet n'a eu cesse de chercher des liens entre les symptômes et leurs causes. Grâce à une immense ténacité et un génie particulier, il a établi des liens énergétiques et mesurables à la palpation, à l'écoute ostéopatique. Un rétablissement de ces liens permet une correction rapide et durable des lésions pour un retour à l'homéostasie du corps.<br>
        Ainsi il a mis au point un clavier énergétique de correction sur le sacrum, en relation avec le crâne par le mouvement respiratoire primaire (MRP: a un rythme précis et harmonise chaque structure les unes par rapport les autres pour assurer le juste équilibre physiologique du corps).<br>
        Cette méthode utilise la palpation du corps et une correction par des gestes doux et légers. Elle est "informationnelle" et utilise la capacité du corps à réagir au geste.
        <h3>La somatopathie</h3>
        Approfondissant ses recherches dans son cabinet de praticien, Pierre-Camille Vernet a trouvé, grâce à l'écoute manuelle de la mobilité MRP (une modification des micro-mouvements indique une perturbation de la forme ou de la fonction des parties observées), des traces de perturbations liés à des évènements vécus, amenant une compréhension et prise de conscience du lien entre le corps et l'esprit.<br>
        Ces perturbations une fois rééquilibrées font remontées des peurs primitives, somatisées sous forme de mémoire corporelle et structurelle. Ces peurs sont de très profonds mécanismes de survie. L'organisme réagit alors par de subtils mécanismes compensatoires pour adapter en permanence la structure physique à son environnement.<br>
        Par cette écoute manuelle, la somatopathie permet d'aiguiller la personne vers une problématique. Certains mots clefs du praticien, peuvent éclairer la lanterne de la personne et l'amener à prendre conscience d'une problématique psycho-émotionnelle et psychosomatique afin que le corps puisse se remettre en mouvement. 
    </section>
    <footer>
        
    </footer>
</article>